/*
 
Hex values for the original NES Color Palette, according to 
http://www.thealmightyguru.com/Games/Hacking/Wiki/index.php/NES_Palette 

Omitted are the nine extra instances of #000000 that are on the actual NES palette.

I got the color names by searching the hex code at https://www.colorabout.com/
and selecting the closest match. Some colors were too close, and I had to make a 
judgement call.

If any color afficionados really want to fix this up, feel free to hit me with a PR. 

*/

:root {
  --paleTurquoise: #a4e4fc;
  --dodgerBlue: #3cbcfc;
  --azure: #0078f8;
  --skyBlue: #0058f8;
  --blue: #0000fc;
  --mediumBlue: #0000bc;
  --darkSlateGrey: #004058;
  --rebeccaPurple: #4428bc;
  --mediumSlateBlue: #6844fc;
  --darkMagenta: #940084;
  --crimson: #e40058;
  --orangeRed: #f83800;
  --chocolate: #e45c10;
  --hotPink: #f85898;
  --fuchsia: #d800cc;
  --fireBrick: #a80020;
  --darkRed: #a81000;
  --darkerRed: #881400;
  --saddleBrown: #503000;
  --fern: #58d854;
  --lighterGreen: #00b800;
  --lightGreen: #00a800;
  --forestGreen: #00a844;
  --green: #007800;
  --darkGreen: #006800;
  --darkerGreen: #005800;
  --darkCyan: #008888;
  --silver: #bcbcbc;
  --gold: #ac7c00;
  --cornflowerBlue: #6888fc;
  --mediumPurple: #9878f8;
  --violet: #f878f8;
  --coral: #f87858;
  --sandyBrown: #fca044;
  --orange: #f8b800;
  --greenYellow: #b8f818;
  --mediumAquamarine: #58f898;
  --darkTurquoise: #00e8d8;
  --whiteSmoke: #f8f8f8;
  --snow: #fcfcfc;
  --lightSteelBlue: #b8b8f8;
  --thistle: #d8b8f8;
  --lightPink: #f8a4c0;
  --wheat: #f0d0b0;
  --navajoWhite: #fce0a8;
  --khaki: #f8d878;
  --aqua: #00fcfc;
  --mindaro: #d8f878;
  --paleGreen: #b8f8b8;
  --magicMint: #b8f8d8;
  --plum: #f8b8f8;
  --lavender: #f8d8f8;
  --grey: #7c7c7c;
  --darkGrey: #787878;
  --trueBlack: #000000;
}